.secHistorias {
    h1 {
        font-family: cursive;
        font-weight: 500;
        font-size: 250%;

        span {
            font-family: sans-serif;
            font-weight: 700;
            font-size: 130%;
            color: $color4;
        }
    }

    // Prueba de EXTEND en las imagenes:
    .img1 {
        height: 400px;
        width: 550px;
    }

    .img2 {
        @extend .img1;
    }

    // Declaro mi mapa
    $textos: (texto1: $color1,
        texto2: $color3,
    );

    // bucle para el mapa
    @each $text,
    $color in $textos {
        .hist--#{$text} {
            text-align: justify;
            font-size: 100%;
            font-family: 'M PLUS 1', sans-serif;
            font-weight: 500;
            color: $color
        }
    }
}

// MEDIA QUERYS
@media only screen and (max-width:440px) {
    .secHistorias {
        h1 {
            font-size: 200%;

            span {
                font-size: 120%;
            }
        }

        .img1,
        .img2 {
            height: 300px;
        }

        .hist--texto1,
        .hist--texto2 {
            font-size: 90%;
        }
    }
}