// HEADER
header {
    background-image: url(/img/pexels-sebastian-beck-2397262.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    border-bottom: 3px solid $color5;

    h1 {
        @include sizes (70px, 100%, rgba(255, 255, 255, 0.651));
        font-size: 32px;
        font-weight: bold;
    }

    .btn {
        min-width: 170px;
        max-width: 200px;
        height: 40px;
        color: $color5;
        padding: 5px 10px;
        font-family: 'M PLUS 1', sans-serif;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 7px;
        border: none;
        background-size: 120% auto;
        background-image: linear-gradient(315deg, $color3 0%, $color2 75%);
        box-shadow: 0 5px $color2;
    }

    .btn:hover {
        background-position: right center;
        box-shadow: 0 3px $color2;
        top: 3px;
    }

    .btn:active {
        box-shadow: 0 0 $color2;
        top: 5px;
    }
}

// FIN HEADER

// OPINIONES
.SecOpiniones {

    .titulo-opiniones {
        max-height: 200px;
        text-align: justify;

        div {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 50px;

            img {
                max-height: 200px;
            }

            h2 {
                font-family: cursive;
                font-weight: 500;
                font-size: 250%;
                text-align: center;

                span {
                    font-family: sans-serif;
                    font-weight: 700;
                    font-size: 130%;
                    color: $color4;
                }
            }
        }
    }

    .opiniones {
        margin-top: 100px;

        p {
            text-align: justify;
            padding-bottom: 50px;

            span {
                font-family: sans-serif;
                font-weight: 700;
                font-size: 120%;
                color: $color4;
            }
        }
    }
}

// FIN OPINIONES

// MEDIAS QUERIS

@media only screen and (max-width:992px) {
    .SecOpiniones {
        .titulo-opiniones {
            div {

                h2 {
                    font-size: 200%;
                }

                span {
                    font-size: 110%;
                }

                .dibujo2 {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width:440px) {
    header h1 {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .SecOpiniones {
        .titulo-opiniones {
            div {

                h2 {
                    font-size: 150%;
                }

                span {
                    font-size: 100%;
                }
            }
        }
    }

    footer {
        .arriba {
            display: none;
        }
    }
}